Package: org.FrostyModz.FastRespring
Name: FastRespring
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Respring your device by removing the springboard from the app switcher. supports ios 9
Maintainer: FrostyModz
Author: FrostyModz
Section: Tweaks
